<!DOCTYPE html>

<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Marcus Haljasoks. veebiprogrammeerimine</title>
</head>
<body>
	<img src="images/vp_banner_2025_TA.jpg" alt="kursuse bänner">
	<h1>Marcus Haljasoks. veebiprogrammeerimine</h1>
	<p>Veebileht on loodud veebiprogrammeerimise kursusel <a href="https://www.tlu.ee">Tallinna Ülikoolis</a>...</p>
	<p style="color: red;">See on veel üks tekstilõik ja see on punane...</p>
	<hr>
    <ul>
        <li><a href="/">Avaleht</a></li>
        <li><a href="/Eestifilm">Eesti filmi avaleht</a></li>
    </ul>
	<hr>
	<h2>Eesti filmiinimeste andmete lisamine andmebaasi</h2>
	<form method="POST">
    <label for="nameInput">Ameti nimetus</label>
	<input id="nameInput" name="nameInput" type="text" placeholder="Ametikoha nimetus..." required>
	<br>
	<label for="positionDescriptionInput">Ameti lühikirjeldus</label>
	<textarea id="positionDescriptionInput" name="positionDescriptionInput" cols="100 rows="5" placeholder="Ameti lühikirjeldus...">
	</textarea>
	<input id="personSubmit" name="personSubmit" type="submit" value="Salvesta">
  </form>
  <p>Staatus: <%= notice %></p>
</body>
</html>