<!DOCTYPE html>

<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Marcus Haljasoks. veebiprogrammeerimine</title>
</head>
<body>
	<img src="images/vp_banner_2025_TA.jpg" alt="kursuse bänner">
	<h1>Marcus Haljasoks. veebiprogrammeerimine</h1>
	<p>Veebileht on loodud veebiprogrammeerimise kursusel <a href="https://www.tlu.ee">Tallinna Ülikoolis</a>...</p>
	<p style="color: red;">See on veel üks tekstilõik ja see on punane...</p>
	<hr>
    <h2>Teretulemas <%= user %>!</h2>
  <ul>
		<li><a href="/logout">Logi välja</a></li>
	  	<li><a href="/galleryphotupload">Galeriisse fotode üleslaadimine</a></li>
	  	<li><a href="/photogallery">Fotogalerii</a></li>
  </ul>
</body>
</html>