<!DOCTYPE html>

<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Marcus Haljasoks. veebiprogrammeerimine</title>
</head>
<body>
	<img src="images/vp_banner_2025_TA.jpg" alt="kursuse bänner">
	<h1>Marcus Haljasoks. veebiprogrammeerimine</h1>
	<p>Veebileht on loodud veebiprogrammeerimise kursusel <a href="https://www.tlu.ee">Tallinna Ülikoolis</a>...</p>
	<p style="color: red;">See on veel üks tekstilõik ja see on punane...</p>
	<hr>
    <ul>
        <li><a href="/signup">Kasutajakonto loomine</a></li>
		<li><a href="/signin">Logi sisse</a></li>
        <li><a href="/timenow">Ajainfo</a></li>
        <li><a href="/vanasonad">Vanasõnad</a></li>
        <li><a href="/reqvisit">Pane oma külastus kirja</a></li>
		<li><a href="/kulastajad">Veebilehe külastajad</a></li>
		<li><a href="/Eestifilm">Eesti filmid</a></li>
		<li><a href="/galleryphotupload">Galeriisse fotode üleslaadimine</a></li>
		<li><a href="/photogallery">Galerii fotod</a></li>
		<li><a href="/news">Uudised</a></li>
		<li><a href="/news_add">Uudiste lisamine</a></li>


    </ul>
	<h2>Uusim avalik foto</h2>
    <img src="<%= imgFile %>" alt="<%= imgAlt %>">
</body>
</html>