<!DOCTYPE html>

<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Marcus Haljasoks. veebiprogrammeerimine</title>
</head>
<body>
	<img src="images/vp_banner_2025_TA.jpg" alt="kursuse bänner">
	<h1>Marcus Haljasoks. veebiprogrammeerimine</h1>
	<p>Veebileht on loodud veebiprogrammeerimise kursusel <a href="https://www.tlu.ee">Tallinna Ülikoolis</a>...</p>
	<p style="color: red;">See on veel üks tekstilõik ja see on punane...</p>
	<hr>
    <ul>
        <li><a href="/timenow">Ajainfo</a></li>
        <li><a href="/vanasonad">Vanasõnad</a></li>
        <li><a href="/regvisit">Pane oma külastus kirja</a></li>
    </ul>
	<hr>
	<h2><%= heading %></h2>
	<ul>
		<!--% märkidega on ejs kood ejs muutujate nimetamiseks-->
		<% listData.forEach(function(listItem) { %>
			<% if (listItem !== "") { %>
			<li><%= listItem %></li>
			<%} %>
		<% }); %>
	</ul>
</body>
</html>